body {
    font-family: arial;
}

/* Sets the background image for the wheel */
canvas {
    background-image: url(https://images.alko.fi/images/cs_srgb,f_auto,t_medium/cdn/742703/smirnoff-ice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12%;

    margin-top: 20px;
    margin-bottom: 20px;
}

#test_img {
    /* Need "block" for rotation to work */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
}

.rotating_img {
    /* One sec less than the wheel, looks better this way */
    -webkit-transition: -webkit-transform 9s ease-out;
    -webkit-transform: rotate(-3600deg);
}

/* Style applied to the spin button once a power has been selected */
.clickable {
    cursor: pointer;
}
