body {
    font-family: arial;
}

/* Fix position so that we can layer the spinning bottle on top */
canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* Holds the canvas and the spinning bottle */
#wheel_container {
    position: relative;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 434px;
    height: 454px;
}

#bottle_img {
    display: block; /* Need for rotation to work */
    max-width: 50px;

    position: absolute;
    /* TODO: don't hard-code these guys */
    left: 192px;;
    top: 150px;
}

/* Style applied to the bottle to make it spin */
.rotating_img {
    /* Rotate for one second less than the wheel, looks better this way */
    -webkit-transition: -webkit-transform 8s ease-out;
    -webkit-transform: rotate(-3240deg);
}

/* Style applied to the spin button to make it look clickable */
.clickable {
    cursor: pointer;
}

/* Style applied to the results popup */
#result_modal {
    text-align: center;
    font-size: 20px;
    padding: 40px 0;
}
