# Allow incoming traffic on our ec2 instance
# We need this since we're going to manage our own SSL certs
#  
# From https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/https-singleinstance.html#CreateSSLConfig.SingleInstance

Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
